/* 
  Author : Bheem Singh
  Theme : Restaurant Online Food Order System
  Version: 1.0
*/

/* Css for all */

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  font-family: "Foldit", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  /* border: 2px solid blue; */
  width: 99%;
  margin: 0 auto;
  padding: 1%;
}

/* Css for alligning the text in center */
.text-allign-center {
  text-align: center;
}
/* Css to color text white */
.text-white {
  color: white;
}

/* Stylel for responsive image */
.img-responsive {
  width: 100%;
}

/* Styling image as curve image */
.img-curve {
  border-radius: 15px;
}

/* css for fixing of overflow in div but currently not working*/
.clearfix {
  clear: both;
  display: none;
}

/* css for fixing of overflow in div */
.overflow {
  overflow: auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}
/* css for h2 */
h2 {
  font-size: 1.3rem;
  color: rgb(12, 43, 43);
}

/* ****************************** Navbar css starts here ********************************** */

.navbar-container {
  background-color: rgb(35, 35, 54);
  border-radius: 5px;
  overflow: auto;
  padding: 0;
  width: 100%;
  margin: 0 0 2% 0;
}

.logo {
  float: left;
  /* border: 1px solid red; */
  max-width: 8%;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
  transition: transform 0.2s; /* Animation for zoom on hover */
}

/* Zoom on hover animation */
.logo img:hover {
  transform: scale(1.3);
}

.responsive-img {
  border-radius: 50%;
  height: 80px;
  width: 100%;
}

/* So menu item can  match the height of logo */
.menu {
  line-height: 80px;
  /* margin-right: 200px; */
}
/* It will remove the black dot line from the ul */
.menu ul {
  list-style-type: none;
}

/* Css between home about foods  */
.menu ul li {
  display: inline;
  padding: 2%;
  font-weight: bold;
}

.menu ul li a {
  color: white;
}

.menu ul li a:hover {
  color: rgb(245, 242, 45);
  font-size: 18px;
}

/* ***************************** Navbar css ends here ************************************************ */

/* ***************************** Food-Search css starts here ************************************************ */

/* Css for food search class of 'search section' in which background image are added  */
.food-search {
  background-image: url(../image/bg\ 5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7%;
  /* margin: 10px auto; */
  /* border: none; */
}

/* Css for search box , where searching of food item will be done */
.search-box {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/* Css for submit button whose class named as 'btn' */
.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
/* Submit button coloring */
.btn-primary {
  background-color: yellow;
  color: black;
}

.btn:hover {
  background-color: rgb(214, 119, 140);
}

/* ***************************** Food-Search css ends here ************************************************ */

/* ***************************** Categories css starts here ************************************************ */

.Categories {
  padding: 1%;
}

/* Css for boxes in categories and floating them to get them inline */
.box-3 {
  /* border: 1px solid black; */
  float: left;
  width: 28%;
  margin: 2%;
}

/* Float container and float text are used relatively to allign them properly  */
.float-container {
  position: relative;
}
/* Css for bottom text with image  */
.float-text {
  position: absolute;
  bottom: 50px;
  left: 42%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 25%;
}

.text {
  background-color: #e4ee24;
  color: rgb(79, 29, 29);
  font-size: 16px;
  padding: 16px 32px;
}

.box-3:hover .image {
  opacity: 0.3;
}

.box-3:hover .middle {
  opacity: 1;
}

/* ***************************** Categories css ends here ************************************************ */
