/* 
  Author : Bheem Singh
  Theme : Restaurant Online Food Order System
  Version: 1.0
*/

/* Css for all */

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  font-family: "Foldit", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  border: 2px solid blue;
  width: 95%;
  margin: 0 auto;
  padding: 1%;
}

/* Css for alligning the text in center */
.text-allign-center {
  text-align: center;
}

.clearfix {
  clear: both;
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

/* ****************************** Navbar css starts here ********************************** */

.navbar-container {
  background-color: rgb(35, 35, 54);
  border-radius: 5px;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.logo {
  float: left;
  /* border: 1px solid red; */
  max-width: 8%;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
  transition: transform 0.2s; /* Animation for zoom on hover */
}
/* Zoom on hover animation */
.logo img:hover {
  transform: scale(1.3);
}

.responsive-img {
  border-radius: 50%;
  height: 80px;
  width: 100%;
}

/* So menu item can  match the height of logo */
.menu {
  line-height: 80px;
  /* margin-right: 200px; */
}
/* It will remove the black dot line from the ul */
.menu ul {
  list-style-type: none;
}

/* Css between home about foods  */
.menu ul li {
  display: inline;
  padding: 2%;
  font-weight: bold;
}

.menu ul li a {
  color: white;
}

.menu ul li a:hover {
  color: rgb(245, 242, 45);
  font-size: 18px;
}

/* ***************************** Navbar css ends here ************************************************ */

/* ***************************** Food-Search css starts here ************************************************ */

.food-search {
  background-image: url(../image/bg\ 5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7%;
  margin: 10px auto;
}

.food-search input [type="search"] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
}

/* ***************************** Food-Search css ends here ************************************************ */
